@import "../node_modules/primeng//resources/themes/lara-light-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.css";
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap);
@import url(../node_modules/bootstrap-icons/font/bootstrap-icons.min.css);
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "./fonts/icomoon/style.css";
@import "./fonts/poppins.css";
@font-face {
	font-family: "icomoon";
	src: url("fonts/icomoon.eot?10si43");
	src: url("fonts/icomoon.eot?10si43#iefix") format("embedded-opentype"),
		url("fonts/icomoon.ttf?10si43") format("truetype"),
		url("fonts/icomoon.woff?10si43") format("woff"),
		url("fonts/icomoon.svg?10si43#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Tempting";
	src: local("Tempting"), url("Tempting.otf") format("opentype");
}
html,
body,
.card {
	font-family: "Nunito", sans-serif;
	/*font-family: "Roboto", sans-serif;*/
	font-weight: 400;
	font-style: normal;
	color: rgba(69, 69, 69, 1) !important;
	text-align: justify;
}

.text-white {
	color: rgba(255, 255, 255, 1);
	text-shadow: 0 3.5px 3.5px rgb(0, 0, 0, 0.2), 0 4px 3.5px rgb(0, 0, 0, 0.3),
		0 7px 5px rgba(0, 0, 0, 0.2);
	font-size: 22px;
	margin-top: 5px;
	text-align: center;
}

.card-logo {
	height: 155px;
	width: 220px;
	background: linear-gradient(
		180deg,
		rgba(118, 199, 112, 0.5) 0%,
		rgba(118, 199, 112, 0.8) 55%,
		rgba(115, 222, 107, 1) 100%
	);
	box-shadow: 0 3px 5px rgba(170, 112, 199, 0.7);
	padding: 20px !important;
	border: 1px solid rgba(43, 44, 43, 0.4);
	border-radius: 30px !important;
	font-size: 20px;
	font-weight: 400;
	font-style: italic;
	word-spacing: 5px;
	color: #ffffff;
	text-shadow: 0 3.5px 3.5px rgb(0, 0, 0, 0.3), 0 4px 3.5px rgb(0, 0, 0, 0.4),
		0 7px 5px rgba(0, 0, 0, 0.3);
}
.card-logo:hover {
	background: linear-gradient(
		180deg,
		rgba(118, 199, 112, 0.3) 0%,
		rgba(118, 199, 112, 0.5971638655462185) 55%,
		rgba(115, 222, 107, 1) 100%
	);
	transition: 200ms;
}
header {
	height: 80vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 255, 255, 0.2) 40%,
			rgba(96, 96, 96, 0.6) 60%,
			rgb(96, 96, 96) 100%
		),
		url(../img/genealogie2.jpg);
}

.logo {
	max-width: auto;
	max-height: 24vw;
}
.logo-2 {
	max-width: auto;
	max-height: 12vw;
}

.logo2-small {
	width: auto;
	height: 75vw;
}

.title-site {
	font-family: "Tempting";
	font-weight: 600;
	letter-spacing: 3px;
	font-size: 6vw;
	text-shadow: 0 3.5px 3.5px rgba(0, 0, 0, 0.6), 0 4px 3.5px rgba(0, 0, 0, 0.6),
		0 7px 5px rgba(255, 255, 255, 0.5);
	color: white;
}
.footer {
	height: 400px;
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			180deg,
			rgba(255, 255, 255, 1) 0%,
			rgb(252, 252, 255) 100%
		),
		url("../img/people-looking-picture-album_2.png");
}

.slogan-title {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.25);
	box-shadow: 0 3px 5px rgb(118, 199, 112, 0.7);
	padding: 20px;
	border: 0.5px solid rgba(51, 204, 102, 0.4);
	border-radius: 30px 0 30px 0;
	font-size: 20px;
	font-weight: 400;
	font-style: italic;
	word-spacing: 5px;
	color: #ffffff;
	text-shadow: 0 3.5px 3.5px rgb(0, 0, 0, 0.2), 0 4px 3.5px rgb(0, 0, 0, 0.3),
		0 7px 5px rgba(0, 0, 0, 0.2);
}

/**nav*/
nav {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.nav-item.active .nav-link {
	color: #32c061 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: start;
	color: #80604a;
}
.green {
	color: #33cc66 !important;
}

.nounou {
	width: 40px;
}

.green-dark {
	color: #32c061 !important;
}
.brun {
	color: #80604a !important;
}
.active {
	color: #32c061 !important;
}

.btn-contact {
	position: fixed;
	bottom: 1%;
	right: 1%;
	transform: translateY(-50%);
	padding: 20px !important;
	background: #32c061 !important;
	text-shadow: 0 1.2px 1.2px rgba(41, 48, 43, 1) !important;
	box-shadow: 0 3px 5px rgba(41, 48, 43, 0.5) !important;
	border-radius: 40px 0 40px 0 !important;
	padding: 20px;
	border: 0.5px solid rgba(11, 11, 11, 0.4) !important;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	z-index: 1000;
}
.btn-contact:hover {
	background: #67af62;
	box-shadow: 0 3px 5px rgba(41, 48, 43, 0.7) !important;
}

.btn-green-dark {
	border-radius: 15px 0 15px 0;
	background-color: #32c061 !important;
	border-color: rgba(38, 140, 72, 0.5) !important;
	text-shadow: 0 1px 1px rgba(0.4);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.fs-1,
.fs-2,
.fs-3,
.fs-4,
.fs-5,
.fs--6 {
	color: rgba(69, 69, 69, 0.7);
}

.t-dark {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
	color: #80604a !important;
}
/*card*/
.card {
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
	color: rgb(54, 54, 54) !important;
	border-radius: 30px !important;
}

/*bg*/

.bg-secondary {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
	background: rgba(0, 0, 0, 0.01) !important;
}

.title:hover,
.nav-link:hover {
	color: #32c061 !important;
}

/*input*/
/* Changer la couleur de fond des champs de saisie */
input.form-control,
textarea.form-control {
	color: #80604a; /* Couleur de fond */
}

/* Optionnel : changer la couleur de la bordure au focus */
input.form-control:focus,
textarea.form-control:focus {
	border-color: #80604a; /* Couleur de bordure au focus */
	box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Ombre au focus */
}
.input-group-text {
	background: rgb(128, 96, 74, 0.1);
}
.bg-secondary {
	border-top: none !important;
}

.modal-body {
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.01);
}

/*Icons*/
i.bi.bi-layers-fill {
	margin-bottom: 3px;
}
.icon-twitter-square:before {
	content: "\f081";
	color: #00acee !important;
}

.bi-twitter {
	color: #00acee !important;
}
.icon-facebook-square:before {
	content: "\f082";
	color: #3b5998 !important;
}
.bi-facebook {
	color: #3b5998 !important;
}

.icon-instagram-square:before {
	content: "\f16d";
	color: #c32aa3 !important;
}
.bi-instagram {
	color: #c32aa3 !important;
}
.bi-whatsapp {
	color: #40c351;
}

.bi-linkedin {
	color: #0e76a8;
}

/*img*/

img.tree {
	width: 20vw;
}
img.photoAnneSo {
	width: auto;
	height: 23vw;
	box-shadow: 0 3px 3px rgba(165, 163, 163, 0.3), 0 3px 5px rgba(0, 0, 0, 0.4);
}

.img-block {
	width: 40px;
	height: auto;
}
.img-block2 {
	width: 250px;
	height: auto;
}
.img-block3 {
	width: 70px;
	height: auto;
}

.img-block4 {
	width: auto;
	height: 70px;
}

/*shadow */

.shadow-5 {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.genealogie-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgb(255, 255, 255) 0%,
			rgba(114, 114, 114, 0.6) 75%,
			rgba(173, 173, 175, 1) 100%
		),
		url("../img/people-looking-picture-album_2.png");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.psychogenealogie1 {
	display: flex !important;
	width: 15vw;
	border-radius: 50%;
	justify-content: center;
	align-self: center;
	margin-bottom: 5px;
}

.pychogenealogie2 {
	display: flex !important;
	width: 30vw;
	border-radius: 50%;
	justify-content: center;
	align-self: center;
	margin-bottom: 5px;
}
.psychogenealogie-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/psychogenealogie2.png");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.psychogenealogie-bg-2 {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/psychogenealogie.png");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.numerologie-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/numerologie.jpg");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.medico-social-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/medico-social.png");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.nourice-agree-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/nourice-agree.png");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.medium-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/medium3.jpg");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.psychogenealogie3-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/psychogenealogie3.png");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.approche-holistique-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/approche_holistique.jpg");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.analyse_transactionnelle {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/analyse_transactionnelle.jpg");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.inconscient-parental-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/inconscient-parental2.png");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.hypnose-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/hypnose2.jpg");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

#psychogenealogie .list-group {
	--bs-list-group-border-color: none !important;
	/*--bs-border-width: 0.5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);*/
}
.resume-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/Illuminez_votrehistoire_familiale_pour_reveler_la_lumière_cachee_dans_vos_racines.webp");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.tarifs-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/tarifs.jpg");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

/*footer*/
footer .contact {
	border-right: 1px solid rgba(0, 0, 0, 0.3);
}
footer a {
	text-decoration: none;
	color: rgba(69, 69, 69, 1) !important;
}

/* media query*/
/* sm */
@media (min-width: 576px) {
	.container,
	.container-sm {
		max-width: 540px;
	}
}
/* md */
@media (min-width: 768px) {
	img.photoAnneSo {
		width: auto;
		height: 38vw;
	}
} /* lg */
@media (min-width: 992px) {
	img.photoAnneSo {
		width: auto;
		height: 30vw;
	}
} /* xl */
@media (min-width: 1200px) {
	img.photoAnneSo {
		width: auto;
		height: 26vw;
	}
}
/* xxl */
@media (min-width: 1400px) {
	img.photoAnneSo {
		width: auto;
		height: 23vw;
	}
}

/*form */
.control-label {
	width: 200px;
}
/* Positionnement absolu du slogan pour qu'il ne déplace pas les autres éléments */
.subtitle-nav {
	position: absolute;
	top: 68%;
	right: 21.5%;
	/* margin-top: 5px; */
	color: #32c061 !important;
	width: 100%;
	text-align: center;
}
