@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap);
@import url(../node_modules/bootstrap-icons/font/bootstrap-icons.min.css);
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "./fonts/icomoon/style.css";
@import "./fonts/poppins.css";

/*text*/
h4.fs-6 brun strong,
h3.fs-6 brun strong,
h4 .fw-bolder,
h3.fw-bolder {
	font-size: 15.5px;
	color: #80604a !important;
}
@font-face {
	font-family: "icomoon";
	src: url("fonts/icomoon.eot?10si43");
	src: url("fonts/icomoon.eot?10si43#iefix") format("embedded-opentype"),
		url("fonts/icomoon.ttf?10si43") format("truetype"),
		url("fonts/icomoon.woff?10si43") format("woff"),
		url("fonts/icomoon.svg?10si43#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Tempting";
	src: local("Tempting"), url("Tempting.otf") format("opentype");
}
html,
body,
.card {
	font-family: "Figtree", sans-serif !important;
	font-weight: 400;
	font-style: normal;
	color: rgba(69, 69, 69, 1) !important;
	text-align: justify;
	overflow-x: hidden;
}

.text-white {
	color: rgba(255, 255, 255, 1);
	text-shadow: 0 3.5px 3.5px rgb(0, 0, 0, 0.2), 0 4px 3.5px rgb(0, 0, 0, 0.3),
		0 7px 5px rgba(0, 0, 0, 0.2);
	font-size: 22px;
	margin-top: 5px;
	text-align: center;
}
.txt-white {
	color: rgba(255, 255, 255, 1) !important;
}

.card-logo {
	background: linear-gradient(
		180deg,
		rgba(118, 199, 112, 0.5) 0%,
		rgba(118, 199, 112, 0.8) 55%,
		rgba(115, 222, 107, 1) 100%
	);
	box-shadow: 0 3px 5px rgba(170, 112, 199, 0.7);
	padding: 20px !important;
	border: 1px solid rgba(43, 44, 43, 0.4);
	border-radius: 30px !important;
	font-size: 20px;
	font-weight: 400;
	font-style: italic;
	word-spacing: 5px;
	color: #ffffff;
	text-shadow: 0 3.5px 3.5px rgb(0, 0, 0, 0.3), 0 4px 3.5px rgb(0, 0, 0, 0.4),
		0 7px 5px rgba(0, 0, 0, 0.3);
}
.card-logo:hover {
	background: linear-gradient(
		180deg,
		rgba(118, 199, 112, 0.3) 0%,
		rgba(118, 199, 112, 0.5971638655462185) 55%,
		rgba(115, 222, 107, 1) 100%
	);
	transition: 200ms;
}

.logo {
	max-width: auto;
	max-height: 24vw;
}
.logo-2 {
	max-width: auto;
	max-height: 12vw;
}

.logo2-small {
	width: auto;
	height: 75vw;
}

.title-site {
	font-family: "Tempting";
	font-weight: 600;
	letter-spacing: 3px;
	font-size: 6vw;
	text-shadow: 0 3.5px 3.5px rgba(0, 0, 0, 0.6), 0 4px 3.5px rgba(0, 0, 0, 0.6),
		0 7px 5px rgba(255, 255, 255, 0.5);
	color: white !important;
}
.footer {
	height: 400px;
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			180deg,
			rgba(255, 255, 255, 1) 0%,
			rgb(252, 252, 255) 100%
		),
		url("../img/people-looking-picture-album_2.webp");
}

.slogan-title {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.25);
	box-shadow: 0 3px 5px rgb(118, 199, 112, 0.7);
	padding: 20px;
	border: 0.5px solid rgba(51, 204, 102, 0.4);
	border-radius: 30px 0 30px 0;
	font-size: 20px;
	font-weight: 400;
	font-style: italic;
	word-spacing: 5px;
	color: #ffffff;
	text-shadow: 0 3.5px 3.5px rgb(0, 0, 0, 0.2), 0 4px 3.5px rgb(0, 0, 0, 0.3),
		0 7px 5px rgba(0, 0, 0, 0.2);
}

/**nav*/
nav {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.nav-item.active .nav-link {
	color: #32c061 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: start;
	color: #80604a;
}
.green {
	color: #33cc66 !important;
}

.nounou {
	width: 40px;
}

.green-dark,
h1.green-dark,
h2.green-dark,
h3.green-dark,
h4.green-dark,
h5.green-dark,
h6.green-dark {
	color: #32c061 !important;
}
.brun {
	color: #80604a !important;
}
.active {
	color: #32c061 !important;
}

/* btn */
.month button i {
	color: white !important;
}
.btn-contact {
	position: fixed;
	bottom: 1%;
	right: 1%;
	transform: translateY(-50%);
	padding: 20px !important;
	background: #32c061 !important;
	text-shadow: 0 1.2px 1.2px rgba(41, 48, 43, 1) !important;
	box-shadow: 0 3px 5px rgba(41, 48, 43, 0.5) !important;
	border-radius: 40px 0 40px 0 !important;
	padding: 20px;
	border: 0.5px solid rgba(11, 11, 11, 0.4) !important;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	z-index: 1000;
}
.btn-contact:hover {
	background: rgb(38, 147, 74) !important;
	box-shadow: 0 3px 5px rgba(41, 48, 43, 0.7) !important;
}

.btn-green-dark {
	border-radius: 15px 0 15px 0;
	background-color: #32c061 !important;
	border-color: rgba(38, 140, 72, 0.5) !important;
	text-shadow: 0 1px 1px rgba(0.4);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.fs-1,
.fs-2,
.fs-3,
.fs-4,
.fs-5,
.fs-5-5 .fs--6 {
	color: rgba(69, 69, 69, 0.7);
}

.fs-5-5 {
	font-size: 18px !important;
}

.t-dark {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
	color: #80604a !important;
}
/*card*/
.card {
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
	color: rgb(54, 54, 54) !important;
	border-radius: 30px !important;
}

/*background */
.bg-green-dark {
	color: white;
	background-color: #32c061 !important;
}

.bg-brun {
	color: white;
	background-color: #80604a !important;
}

.bg-secondary {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
	background: rgba(0, 0, 0, 0.01) !important;
}

.title:hover,
.nav-link:hover {
	color: #32c061 !important;
}
a.brun:hover {
	color: #32c061 !important;
}

/*input*/
/* Changer la couleur de fond des champs de saisie */
input.form-control,
textarea.form-control {
	color: #80604a; /* Couleur de fond */
}

/* Optionnel : changer la couleur de la bordure au focus */
input.form-control:focus,
textarea.form-control:focus {
	border-color: #80604a; /* Couleur de bordure au focus */
	box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Ombre au focus */
}
.input-group-text {
	background: rgb(128, 96, 74, 0.1);
}
.bg-secondary {
	border-top: none !important;
}
/* modal */
.modal-md {
	max-width: 80%;
}
.modal-body {
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.01);
}

/*Icons*/
i.bi.bi-layers-fill {
	margin-bottom: 3px;
}
.icon-twitter-square:before {
	content: "\f081";
	color: #00acee !important;
}

.bi-twitter {
	color: #00acee !important;
}
.icon-facebook-square:before {
	content: "\f082";
	color: #3b5998 !important;
}
.bi-facebook {
	color: #3b5998 !important;
}

.icon-instagram-square:before {
	content: "\f16d";
	color: #c32aa3 !important;
}
.bi-instagram {
	color: #c32aa3 !important;
}
.bi-whatsapp {
	color: #40c351;
}

.bi-linkedin {
	color: #0e76a8;
}

/*img*/
.genealogie-img,
.medium {
	width: 300px;
	height: 300px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.aide-Medico-psychologique,
.assistante-maternelle,
.approche-holistique,
.formation-en-psychogenealogie,
.formation-analyse-transactionnelle,
.medium {
	width: 300px;
	height: 300px;
}

.hypnose {
	width: 300px;
	height: 300px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
}
.inconscient-parental {
	width: 350px;
	height: 300px;
}
img.tree {
	width: 20vw;
}

.img-block {
	width: 40px;
	height: auto;
}
.img-block2 {
	width: 250px;
	height: auto;
}
.img-block3 {
	width: 70px;
	height: auto;
}

.img-block4 {
	width: auto;
	height: 70px;
}

/*shadow */

.shadow-5 {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.genealogie-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgb(255, 255, 255) 0%,
			rgba(114, 114, 114, 0.6) 75%,
			rgba(173, 173, 175, 1) 100%
		),
		url("../img/people-looking-picture-album_2.webp");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.psychogenealogie1 {
	display: flex !important;
	width: 20vw;
	border-radius: 50%;
	justify-content: center;
	align-self: center;
	margin-bottom: 5px;
}

.pychogenealogie2 {
	display: flex !important;
	width: 30vw;
	border-radius: 50%;
	justify-content: center;
	align-self: center;
	margin-bottom: 5px;
}
.psychogenealogie-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/psychogenealogie2.webp");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.psychogenealogie-bg-2 {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/Psychogenealogie.webp");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.numerologie-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/numerologie.webp");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.medico-social-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/medico-social.webp");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.nourice-agree-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/nourice-agree.webp");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.medium-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/medium3.webp");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.psychogenealogie3-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/psychogenealogie3.webp");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.approche-holistique-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/approche_holistique.webp");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.analyse_transactionnelle {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/analyse_transactionnelle.webp");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.inconscient-parental-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/inconscient-parental2.webp");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.hypnose-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/hypnose2.webp");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

#psychogenealogie .list-group {
	--bs-list-group-border-color: none !important;
	/*--bs-border-width: 0.5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);*/
}
.resume-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/Illuminez_votrehistoire_familiale_pour_reveler_la_lumière_cachee_dans_vos_racines.webp");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.tarifs-bg {
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(156, 186, 193, 0.3) 75%,
			rgba(120, 205, 209, 0.7) 100%
		),
		url("../img/tarifs.webp");
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

/*footer*/
footer .contact {
	border-right: 1px solid rgba(0, 0, 0, 0.3);
}
footer a {
	text-decoration: none;
	color: rgba(69, 69, 69, 1) !important;
}

/*form */
.control-label {
	width: 200px;
}

.navbar-brand-title {
	position: relative !important;
}

.header-responsive {
	position: relative !important;
}
.subtitle-nav-responsive {
	position: absolute;
	width: 100% !important;
	top: 92%;
	right: 0;
	color: #ffffff !important;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
	width: 100%;
	justify-content: center;
	font-weight: 600 !important;
	font-size: 18px !important;
	background-color: rgba(0, 0, 0, 0.2);
}
/* Positionnement absolu du slogan pour qu'il ne déplace pas les autres éléments */
.subtitle-nav {
	position: absolute;
	top: 52%;
	right: 24.5%;
	color: #32c061 !important;
	width: 100%;
	text-align: center;
}

/*iframe*/
iframe {
	width: "600px";
	height: "450px";
	border: 0;
}

.calendar {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.month {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.weekdays,
.days {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.weekdays div,
.days div {
	width: 14.28%; /* 100% divided by 7 days */
	padding: 10px;
	text-align: center;
}

.days div {
	cursor: pointer;
}

/* Add styles for days */
.days div.day {
	background-color: #ffffff;
	border: 1px solid #dcdcdc;
	transition: 0.3s;
	border-radius: 3px;
}

.days div.day:hover {
	color: white !important;
	background-color: rgba(50, 192, 97, 0.8);
	border: 1px solid #949494;
	border-radius: 3px;
	transition: 0.3s;
}

/* Styles for weekends */
.days div.weekend {
	background-color: rgb(192, 192, 192);
	cursor: default;
	border: 1px solid rgba(255, 255, 255, 0.3);
}
.days div.weekend:hover {
	color: rgb(107, 0, 0) !important;
	background-color: rgb(192, 192, 192);
	cursor: default;
	border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Additional styles */
.add-event-wrapper {
	display: none;
	border: 1px solid #ccc;
	padding: 20px;
	margin-top: 20px;
	background-color: #f9f9f9;
}

.add-event {
	position: absolute;
	bottom: 5px;
	right: 2%;
	cursor: pointer;
	margin-top: 20px;
}
.weekdays div {
	font-weight: bolder;
	color: white;
	background-color: #6c503e;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.3);
}
.weekdays div:nth-child(1) {
	border-radius: 10px 0 0 0;
}

.weekdays div:nth-child(7) {
	border-radius: 0 10px 0 0;
}
.btn-brun {
	color: #fff;
	background-color: #80604a;
	transition: background-color 0.3s;
}
.btn-brun:hover {
	color: #fff;
	background-color: #5e4737;
	transition: background-color 0.3s;
}
.brun {
	color: #80604a;
}
.brun-light {
	background-color: rgba(128, 96, 74, 0.3);
}

.auto-close-btn {
	display: flex;
	justify-content: flex-end; /* Aligne l'icône à droite */
	align-items: center; /* Centre verticalement */

	width: 100%;
}

.auto-close-btn::after {
	content: "\00d7"; /* Symbole de la croix "×" */
	color: white; /* Couleur blanche */
	font-size: 37px; /* Taille de base */
	font-weight: 200; /* Poids léger */
	cursor: pointer; /* Curseur en pointeur pour le clic */
	margin-right: -5px; /* Espacement à droite */
	display: inline-block; /* Assure un bon rendu */
	width: 40px; /* Taille du cercle horizontal */
	height: 40px; /* Taille du cercle vertical */
	line-height: 40px; /* Centre le texte dans le cercle */
	text-align: center; /* Centre horizontalement */
	border-radius: 50%; /* Forme circulaire par défaut */
	transition: all 0.3s ease; /* Animation fluide pour le survol */
}

.auto-close-btn:hover::after {
	background-color: rgba(
		255,
		255,
		255,
		0.3
	); /* Fond semi-transparent au survol */
}

.green-dark {
	color: #32c061 !important;
}
.btn .green-dark {
	color: white;
	background-color: #32c061 !important;
	transition: background-color 0.3s;
}
.btn.green-dark:hover i {
	color: #2ba554 !important;
	transition: background-color 0.3s;
}

.btn-green-dark {
	color: white;
	background-color: #32c061 !important;
	transition: background-color 0.3s;
}
.btn-green-dark:hover {
	color: #ffffff !important;
	background-color: #2ba554 !important;
	transition: background-color 0.3s;
}
.modal-fullscreen .modal-dialog {
	width: 100vw; /* Fixe la largeur de la modal à 100% de la fenêtre */
	max-width: 100%; /* Assure que la largeur ne dépasse pas 100% */
	padding: 3px; /* Enlève la marge par défaut */
	height: 100vh; /* Facultatif : remplit toute la hauteur de l'écran */
}

/* Styles par défaut */
.modal .modal-header,
.modal .modal-title,
.modal .btn {
	color: white !important;
	background-color: #32c061 !important;
}

/* Erreur */
.modal.error .modal-header,
.modal.error .modal-title,
.modal.error .btn {
	background-color: #b20606 !important;
}

/* Succès */
.modal.success .modal-header,
.modal.success .modal-title,
.modal.success .btn {
	background-color: #32c061 !important;
}
.alert-success {
	background-color: #28a745 !important; /* Votre couleur personnalisée */
	color: #fff; /* Couleur du texte */
}

.alert-danger {
	background-color: rgb(
		219,
		21,
		21
	) !important; /* Votre couleur personnalisée */
	color: #fff; /* Couleur du texte */
}

.alert .btn-close .fas {
	font-size: 1.5rem;
	color: #fff !important; /* Ou une autre couleur selon vos préférences */
}
.header {
	color: white !important;
	height: 60vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 255, 255, 0.3) 40%,
			rgba(96, 96, 96, 0.6) 60%,
			rgb(96, 96, 96, 1) 100%
		),
		url("../img/genealogie2.webp");
}
/* Remove border from toggler */
.navbar-toggler {
	border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none !important;
	box-shadow: none !important;
	border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon {
	margin-left: 5px;
	width: 30px;
	height: 3px;
	background-color: #80604a;
	display: block;
	transition: 0.4s, transform 0.4s;
}

/* Adds Space between the lines */
.middle-bar {
	margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
	transform: rotate(45deg);

	transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
	opacity: 0;
	filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
	filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
	background-color: #80604a;
}
.full-height {
	height: 100vh !important;
}

.logo-2 {
	width: 100px;
}
@media (min-width: 992px) {
	.navbar {
		height: 100px !important;
		background-color: #f8f9fa;
	}
	.header {
		height: 80vh !important;
	}
	.header {
		height: 60vh !important;
	}

	.navbar {
		background-color: #f8f9fa;
	}

	.logo-nav {
		width: 130px;
	}
}

/* xs */
@media (min-width: 1px) {
  .card-logo{
    width:100%!important;
    h2{font-size: 14px;

    }
    
  }
	
	img.photoAnneSo {
		width: auto !important;
		height: 46vw;
	}
	.logo-nav {
		width: 130px;
	}
	.logo-3 {
		height: 35vh;
		#navbarSupportedContent {
			background-color: rgba(
				var(--bs-tertiary-bg-rgb),
				var(--bs-bg-opacity)
			) !important;
			--bs-gutter-x: 0 !important;
		}
	}
	.header {
		height: 50vh !important;
	}
	.title-site {
		position: relative;
		top: -7%;
	}
	.subtitle-nav-responsive {
		position: absolute;
		width: 100% !important;
		top: 83%;
		right: 0;
		color: #ffffff !important;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
		width: 100%;
		justify-content: center;
		font-weight: 600 !important;
		font-size: 16px !important;
		background-color: rgba(0, 0, 0, 0.2);
	}
}
/* sm */
@media (min-width: 576px) {
	.card-logo {
		height: 155px;
		width: 300px;
	}
	img.photoAnneSo {
		width: auto;
		height: 46vw;
	}
	.container,
	.container-sm {
		max-width: 540px;
	}
	.title-site {
		position: relative;
		top: -7%;
	}
	.subtitle-nav-responsive {
		position: absolute;
		width: 100% !important;
		top: 83%;
		right: 0;
		color: #ffffff !important;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
		width: 100%;
		justify-content: center;
		font-weight: 600 !important;
		font-size: 16px !important;
		background-color: rgba(0, 0, 0, 0.2);
	}
	.logo-nav {
		width: 130px;
	}
	.logo-3 {
		height: 45vh;
	}
	.header {
		height: 60vh !important;
	}
	#navbarSupportedContent {
		background-color: rgba(
			var(--bs-tertiary-bg-rgb),
			var(--bs-bg-opacity)
		) !important;
		--bs-gutter-x: 0 !important;
	}
}
/* md */
@media (min-width: 768px) {
	.card-logo {
		height: 155px;
		width: 300px;
	}
	img.photoAnneSo {
		width: auto;
		height: 38vw;
	}
	.title-site {
		position: relative;
		top: -5%;
	}
	.subtitle-nav-responsive {
		position: absolute;
		width: 100% !important;
		top: 87%;
		right: 0%;
		color: #ffffff !important;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
		width: 100%;
		justify-content: center;
		font-weight: 600 !important;
		font-size: 18px !important;
		background-color: rgba(0, 0, 0, 0.2);
	}
	.logo-nav {
		width: 130px;
	}
	.logo-3 {
		height: 50vh;
	}
	.header {
		height: 65vh !important;
	}
	#navbarSupportedContent {
		background-color: rgba(
			var(--bs-tertiary-bg-rgb),
			var(--bs-bg-opacity)
		) !important;
		--bs-gutter-x: 0 !important;
	}
}

/* lg */
@media (min-width: 992px) {
	.card-logo {
		height: 155px;
		width: 300px;
	}
	img.photoAnneSo {
		width: auto;
		height: 30vw;
	}
	.subtitle-nav-responsive {
		position: absolute;
		width: 70% !important;
		top: 63%;
		right: 11%;
		color: #ffffff !important;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
		width: 100%;
		justify-content: center;
		font-weight: 600 !important;
		font-size: 18px !important;
		background-color: rgba(0, 0, 0, 0.2);
	}
	.logo-nav {
		width: 130px;
	}
	.logo-3 {
		height: 60vh;
	}
	.header {
		height: 75vh !important;
	}
	#navbarSupportedContent {
		background-color: rgba(
			var(--bs-tertiary-bg-rgb),
			var(--bs-bg-opacity)
		) !important;
		--bs-gutter-x: 0 !important;
	}
}

/* xl */
@media (min-width: 1200px) {
	.card-logo {
		height: 155px;
		width: 300px;
	}

	img.photoAnneSo {
		width: auto;
		height: 26vw;
	}
	.logo-nav {
		width: 130px;
	}
	.logo-3 {
		height: 60vh;
	}
	.header {
		height: 75vh !important;
	}
	#navbarSupportedContent {
		background-color: rgba(
			var(--bs-tertiary-bg-rgb),
			var(--bs-bg-opacity)
		) !important;
		--bs-gutter-x: 0 !important;
	}
	.subtitle-nav-responsive {
		position: absolute;
		width: 60% !important;
		top: 63%;
		right: 15%;
		color: #ffffff !important;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
		width: 100%;
		justify-content: center;
		font-weight: 600 !important;
		font-size: 18px !important;
		background-color: rgba(0, 0, 0, 0.2);
	}
}

/* xxl */
@media (min-width: 1400px) {
	img.photoAnneSo {
		width: auto;
		height: 23vw;
	}

	.logo-nav {
		width: 100px;
	}
	.logo-3 {
		height: 65vh;
	}
	.header {
		height: 80vh !important;
	}
	#navbarSupportedContent {
		background-color: transparent !important;
		--bs-gutter-x: 0 !important;
	}
}
